<% if @groups.present? %>
<table class="table text-nowrap table-responsive">
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td class="group-index--group_name">
          <%= link_to group_path(group) do %>
            <%= group.name %>
          <% end %>
        </td>
        <% group.group_users.each do |group_user| %>
          <td class="group-index--user_name">
            <%= attachment_image_tag group_user.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
            <%= group_user.user.name %>
            <% if group_user.invitation == false %>
              <span class="group-index--user_name__invitation">
                招待中
              </span><br>
              <% if group_user.user_id == current_user.id %>
                <%= form_with(model: group_user, url:group_users_accept_path(id: group_user.id) ,class: "group-index--user_name__accept" ,local: true) do |f| %>
                  <%= f.hidden_field :invitation, :value => true %>
                  <%= f.submit "承認", class: "btn btn-sm btn-outline-success" %>
                <% end %>
                <%= link_to "拒否", group_users_reject_path(id: group_user.id), class: "btn btn-sm btn-outline-dark"  %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>・グループに所属していません</p>
<% end %>