<% if flash[:success].present? %>
  <p class="alert alert-success" role="alert"><%= flash[:success] %></p>
<% end %>
<% if flash[:faile].present? %>
  <p class="alert alert-danger" role="alert"><%= flash[:faile] %></p>
<% end %>


<main class="group-index--main">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col">
      <h4 class="group-index--title">所属グループ一覧</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div id="groups_area">
        <%= render "groups/group_index" %>
      </div>
      <!--新規フォーム部分-->
      <div>
        <h5>グループを作成する</h5>
        <%= render "groups/group_new_form" %>
        <%= render "layouts/error_messages", model: @group, attribute: :name %>
      </div>
    </div>
  </div>
</main>

