<%= form_with model:@user, local:true do |f| %>
<div class="row user-myPage--row">
  <div class="col-2"></div>
  <div class="col">
    <h5>ユーザーネーム：<%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class: "form-control name" %></h5>
  </div>
  <div class="col-2"></div>
</div>

<div class="row user-myPage--row">
  <div class="col-2"></div>
  <div class="col">
    <h5>メールアドレス：<%= f.text_field :email, autofocus: true, id:"inputName", class: "form-control introduction" %></h5>
  </div>
  <div class="col-2"></div>
</div>

<div class="row user-myPage--row">
  <div class="col-2"></div>
  <div class="col">
    <h5>ユーザー画像：<%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "" %></h5>
  </div>
  <div class="col-2"></div>
</div>

<div class="row user-myPage--row">
  <div class="col-2"></div>
  <div class="col">
    <h5><%= f.submit "情報を更新", class: "btn btn-outline-success" %></h5>
  </div>
  <div class="col-2"></div>
</div>
<% end %>

<div class="row user-myPage--row">
  <div class="col-2"></div>
  <div class="col">
    <p><%= link_to "退会する", quit_users_path, class: "btn btn-outline-danger quit-link" %></p>
  </div>
  <div class="col-2"></div>
</div>
