<%= form_with(model: @event, class: "event-form", local: true) do |form| %>
<div class="row event-add--form d-flex justify-content-center">
  <div class="col-11 table-responsive-md">
    <table class="table table-bordered">
      <tbody>
        <tr scope="row">
          <th class="text-nowrap"><%= form.label :"予定のタイトル" %></th>
          <td>
            <%= form.text_field :name, autofocus: true, placeholder: "◯◯会議 , ◯◯に行く , 20文字以内で入力してください。", :size => "60*30" %></br>
            <%= render "layouts/error_messages", model: @event, attribute: :name %>
          </td>
        </tr>
        <tr scope="row">
          <th class="text-nowrap"><%= form.label :"場所" %></th>
          <td>
            <%= form.text_field :place, :size => "60*30", placeholder: "後から予定の場所をMAPでも登録できます" %></br>
            <%= render "layouts/error_messages", model: @event, attribute: :place %>
          </td>
        </tr>
        <tr scope="row">
          <th class="text-nowrap"><%= form.label :"時間" %></th>
          <td class="text-nowrap d-flex">
            <div>
              <%= form.datetime_field :start_time %></br>
              <%= render "layouts/error_messages", model: @event, attribute: :start_time %>
            </div>
            <div>　〜　</div>
            <div>
              <%= form.datetime_field :end_time %></br>
              <%= render "layouts/error_messages", model: @event, attribute: :end_time %>
            </div>
          </td>
        </tr>
        <tr scope="row">
          <th class="text-nowrap"><%= form.label :"予定の詳細" %></th>
          <td>
            <%= form.text_area :detail, size: "60x5" %>
            <%= render "layouts/error_messages", model: @event, attribute: :detail %>
          </td>
        </tr>
        <tr scope="row">
          <th class="text-nowrap"><%= form.label :"備考" %></th>
          <td>
            <%= form.text_area :remarks, size: "60x3", placeholder: "◯◯を持っていく！" %>
            <%= render "layouts/error_messages", model: @event, attribute: :remarks %>
          </td>
        </tr>
        <tr scope="row">
          <th class="text-nowrap"><%= form.label :"グループメンバーへの公開設定" %></th>
          <td class="event-form__release">
            <%= form.select :release, [['非公開',0],['公開',1]], selected: @release %>　<i class="far fa-question-circle event-form__release__q-icon" id="questionBtn"></i>

            <div class="event-form__release__q-box" id="eventNewQuestion">
              <div class="event-form__release__q-box__balloon"></div>
              <p class="event-form__release__q-box__text">
                「公開」にした場合、あなたが所属するグループメンバーがこの予定を閲覧できるようになります。</br>
                この設定は後から変更が出来ます。
              </p>
            </div>
          </td>
        </tr>
        <tr scope="row">
          <th class="text-nowrap">タグ</th>
          <td>
            <%= form_with model: @event, local: true do |form| %>
              <%= form.text_field :tag_ids, class: "form-control", value: @tag_list, placeholder: "複数つけるには「,」で区切ってください。" %>
            <% end %>
          </td>
        </tr>
        <tr scope="row">
          <th></th>
          <td><%= form.submit %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>