<main class="event-day--main">
  <h3><%= @day.strftime('%m/%d') %>の予定</h3>
  <% if @events.present? %>
    <div class="table-responsive-md">
      <table class="table event-day--table">
        <% if @today_events.present? %>
          <thead class="thead-light">
            <tr scope="row">
              <th>
                <%= @day.strftime('%m/%d') %>から始まる予定
              </th>
              <th>予定</th>
              <th>場所</th>
            </tr>
          </thead>
          <tbody>
            <% @today_events.each do |event| %>
              <tr scope="row">
                <td class="text-nowrap"><%= event.start_time.strftime('%m/%d %H:%M') %>　〜　<%= event.end_time.strftime('%m/%d %H:%M') %></td>
                <td>
                  <%= link_to event_path(event), class: "event-day--table__event-link" do %>
                    <%= event.name %>
                  <% end %>
                </td>
                <td>
                  <% if event.place.present? %>
                    <%= event.place %>
                  <% else %>
                    -
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>

        <% if @before_events.present? %>
          <thead class="thead-light">
            <th>
              前日から続いている予定
            </th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <% @before_events.each do |event| %>
              <tr>
                <td><%= event.start_time.strftime('%m/%d %H:%M') %>　〜　<%= event.end_time.strftime('%m/%d %H:%M') %></td>
                <td>
                  <%= link_to event_path(event), class: "event-day--event_link" do %>
                    <%= event.name %>
                  <% end %>
                </td>
                <td>
                  <% if event.place.present? %>
                    場所：<%= event.place %>
                  <% else %>
                    場所：-
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    <% else %>
      <h5 class="text-center">登録された予定はありません</h5>
    <% end %>
  </div>
</main>
