<h2 class="text-center event-edit--title">予定の編集</h2>

<%= form_with(model: @event, local: true) do |form| %>
<div class="d-flex justify-content-center">
  <div class="event-edit--form">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th><%= form.label :"予定のタイトル" %></th>
          <td><%= form.text_field :name, autofocus: true, placeholder: "◯◯会議 , ◯◯に行く , ◯◯出張", :size => "60*30" %></td>
        </tr>
        <tr>
          <th><%= form.label :"場所" %></th>
          <td><%= form.text_field :place, :size => "60*30", placeholder: "後から予定の場所をMAPでも登録できます" %></td>
        </tr>
        <tr>
          <th><%= form.label :"時間" %></th>
          <td><%= form.datetime_field :start_time %>　〜　<%= form.datetime_field :end_time %></td>
        </tr>
        <tr>
          <th><%= form.label :"予定の詳細" %></th>
          <td><%= form.text_area :detail, size: "60x5" %></td>
        </tr>
        <tr>
          <th><%= form.label :"備考" %></th>
          <td><%= form.text_area :remarks, size: "60x3", placeholder: "◯◯を持っていく！" %></td>
        </tr>
        <tr>
          <th><%= form.label :"グループメンバーへの公開設定" %></th>
          <td class="event-edit--release">
            <%= form.select :release, [['非公開',0],['公開',1]], { include_blank: true, selected: 0 } %>　<i class="far fa-question-circle event-edit--question_icon" id="questionBtn"></i>
            <div class="event-edit--question_box" id="eventEditQuestion">
              <div class="event-edit--question_t"></div>
              <p class="event-edit--question_text">
                「公開」にした場合、あなたが所属するグループメンバーがこの予定を閲覧できるようになります。</br>
                この設定は後から変更が出来ます。
              </p>
            </div>
          </td>
        </tr>
        <tr>
          <th>タグ</th>
          <td>
            <%= form.text_field :tag_ids, value: @tag_list, placeholder: "複数つけるには「,」で区切ってください。", :size => "60*30" %>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><%= form.submit %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>