<% if flash[:success].present? %>
  <p class="alert alert-success" role="alert"><%= flash[:success] %></p>
<% end %>

<main>
  <div class="row event-index--main_box">
    <!--メニュー部分-->
    <div class="col-xl-3 event-index--side">
      <nav class="navbar-expand-xl">
        <button class="navbar-toggler event-index--side__btn" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="event-index--side__icon"><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="responsiveMenu">
          <ul class="event-index--side__ul">
            <!--予定の追加部分-->
            <li class="event-index--side__li">
              <%= link_to new_event_path, class: "event-index--new_link" do %>
                <span class="event-index--new_link__text">予定を追加　</span><i class="fas fa-plus-circle event-index--new_link__text"></i>
              <% end %>
            </li>
            <!--今日の予定部分-->
            <li class="event-index--side__li">
              <h5 class="event-index--today__title">本日の予定  <i class="fas fa-chevron-circle-right today-events-icon"></i>
            </li>
            <li class="event-index--side__li event-index--side__content event-index--today">
              <ul class="event-index--today__box">
                <% if @today_events.present? %>
                  <% @today_events.each do |event| %>
                    <%= link_to event_path(event), class: "event-index--today__box__link" do %>
                      <li class="event-index--today__box__link__li">
                        <p class="event-index--today__box__link__text text-left"><%= event.name %></p>
                      </li>
                    <% end %>
                  <% end %>
                <% else %>
                  <li>
                    <p class="event-index--none-data">登録されていません</p>
                  </li>
                <% end %>
              </ul>
            </li>

            <!--タグ一覧部分-->
            <li class="event-index--side__li">
              <h5 class="event-index--tag__title">タグ一覧  <i class="fas fa-chevron-circle-right tag-index-icon"></i></h5>
            </li>
            <li class="event-index--side__li event-index--side__content event-index--tag">
              <ul class="event-index--tag__menu">
                <% if @tags.present? %>
                  <% @tags.each do |tag| %>
                    <li class="event-index--tag__menu__li">
                      <%= link_to event_tag_path(id: tag.id), class: "event-index--tag__menu__li__link" do %>
                        <i class="fas fa-tag"></i>  <%= tag.name %>
                      <% end %>
                    </li>
                  <% end %>
                <% else %>
                <li>
                  <p class="event-index--none-data">登録されていません</p>
                </li>
                <% end %>
              </ul>
            </li>

            <!--所属グループ部分-->
            <li class="event-index--side__li">
              <h5 class="event-index--group__title">所属グループ  <i class="fas fa-chevron-circle-right group-index-icon"></i></h5>
            </li>
            <li class="event-index--side__li event-index--side__content event-index--group">
              <ul class="event-index--group__box">
                <% if @true_group_users.present? %>
                  <% @true_group_users.each do |group_user| %>
                    <%= link_to group_path(group_user.group), class: "event-index--group__box__link" do %>
                      <li class="event-index--group__box__link__li">
                        <p class="event-index--group__box__name"><%= group_user.group.name %></p>
                      </li>
                    <% end %>
                  <% end %>
                <% else %>
                  <p class="event-index--none-data">グループに所属していません</p>
                <% end %>
              </ul>
            </li>

            <!--承認待ちグループ部分-->
            <li class="event-index--side__li">
              <h5 class="event-index--invitation__title">招待中グループ  <i class="fas fa-chevron-circle-right invitation-index-icon"></i></h5>
            </li>
            <li class="event-index--side__li event-index--side__content event-index--invitation-content">
              <ul class="event-index--invitation">
                <div class="event-index--invitation__box">
                  <% if @false_group_users.present? %>
                    <% @false_group_users.each do |group_user| %>
                      <p class="event-index--invitation__box__name"><%= group_user.group.name %></p>
                      <div class="event-index--invitation__box__btn">
                        <%= form_with(model: group_user, url:group_users_accept_path(id: group_user.id) ,class: "event-index--invitation__box__btn__accept" ,local: true) do |f| %>
                          <%= f.hidden_field :invitation, :value => true %>
                          <%= f.submit "承認", class: "btn btn-sm btn-outline-success" %>
                        <% end %>
                        <%= link_to "拒否", group_users_reject_path(id: group_user.id), class: "btn btn-sm btn-outline-dark"  %>
                      </div>
                    <% end %>
                  <% else %>
                    <li>
                      <p>招待はありません</p>
                    </li>
                  <% end %>
                </div>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  <!--カレンダー部分-->
    <div class="col-xl-8 col-lg-11 event-index--calendar">
      <div class="event-index--calendar__inside">
        <%= month_calendar events: @events do |date, events| %>
          <%= date.day %>
          <!--日付の中に表示する予定-->
          <% events.first(3).each do |event| %>
            <div class="event-index--calendar__inside__name-box">
              <%= link_to event_path(event), class: "event-index--calendar__inside__name-box__link" do %>
                <p class="event-index--calendar__inside__name-box__name"><%= event.name %></p>
              <% end %>
            </div>
          <% end %>
          <!--４つ以上なら3点で省略-->
          <% if events.count >= 4 %>
            <div class="text-left event-index--day_dot">
              <i class="fas fa-ellipsis-v fa-xs"></i>
            </div>
          <% end %>
          <!--その日の予定数-->
          <% if events.present? %>
            <div class="event-index--calendar__inside__day-count">
              <%= link_to event_day_path(day: date), class: "event-index--calendar__inside__day-count__link" do %>
                予定：<%= events.count %>件
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>