<p><%= link_to '予定を追加', new_event_path %></p>

<div class="row">
  <div class="col-2">

  </div>

  <div class="col-8">
    <%= month_calendar events: @events do |date, events| %>
      <%= date.day %>
        <% events.first(3).each do |event| %>
          <div>
            <%= link_to event_path(event) do %>
              <%= event.name %>
            <% end %>
          </div>
        <% end %>
      <% if events.present? %>
        <div class="event-index--day_count">
          <%= link_to event_day_path(date) do %>
            予定：<%= events.count %>件
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col-2">

  </div>

</div>