
<div class="row event-index--main_box">

  <div class="col-2">
    <h4 class="text-center event-index--new_btn"><%= link_to '予定を追加　＞', new_event_path, class: "event-index--new_link" %></h4>

    <h4 class="text-center event-index--group">所属グループ</h4>

    <% @groups.each do |group| %>
      <p><%= group.name %></p>
    <% end %>
  </div>

  <div class="col-8">
    <%= month_calendar events: @events do |date, events| %>
      <%= date.day %>

        <% events.first(3).each do |event| %>
          <div>
            <%= link_to event_path(event) do %>
              <%= event.name %>
            <% end %>
          </div>
        <% end %>
      <% if events.present? %>
        <div class="event-index--day_count">
          <%= link_to event_day_path(day: date) do %>
            予定：<%= events.count %>件
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
    <h4>直近の予定</h4>
    <%= @now %>
  <div class="col-2">
  </div>

</div>