<main>
  <h2 class="text-center event-new--title">予定の追加</h2>

  <h6 class="event-new--preset_title">プリセット一覧  <i class="fas fa-chevron-circle-right preset-index-icon"></i></h6>
  <div class="event-new--preset">
    <div class="event-new--preset_index d-flex flex-wrap">
      <% @presets.each_with_index do |preset, i| %>
        <div class="event-new--preset_box d-flex align-items-center">
          <div class="event-new--preset_name" id="preset_<%= i %>">
            <%= preset.name %>
          </div>
          <div class="event-new--preset_delete">
            <%= link_to "", preset_path(preset), method: :delete, class: "btn-danger fas fa-backspace event-new--preset_delete_btn" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="event-new--preset_link_box">
      <%= link_to "  プリセットの登録", new_preset_path, class: "fas fa-plus-circle event-new--preset_link" %>
    </div>
  </div>

  <%= render "event_form" %>
</main>