<% if flash[:success].present? %>
  <p class="alert alert-success" role="alert"><%= flash[:success] %></p>
<% end %>
<% if flash[:danger].present? %>
  <p class="alert alert-danger" role="alert"><%= flash[:danger] %></p>
<% end %>

<main class="row event-show--main_box d-flex justify-content-around">
  <!--予定の登録内容-->
  <div class="col-lg-6">
    <div class="event-show--event_box">
      <div>
        <h3><%= @event.start_time.strftime('%m/%d %H:%M:%S') %> ~ <%= @event.end_time.strftime('%m/%d %H:%M:%S') %></h3>
      </div>
      <div class="event-show--name">
        <h3>予定</h3>
        <p class="event-show--name_text"><%= @event.name %></p>
      </div>
      <div class="event-show--place">
        <h3>場所</h3>
        <p class="event-show--place_text"><%= @event.place %></p>
      </div>
      <div class="event-show--detail">
        <h3>詳細</h3>
        <p class="event-show--detail_text"><%= simple_format(@event.detail) %></p>
      </div>
      <div class="event-show--remarks">
        <h3>備考</h3>
        <p class="event-show--detail_text"><%= simple_format(@event.remarks) %></p>
      </div>
      <div class="event-show--event_btn text-right">
        <% if @event.user == current_user %>
          <%= link_to '予定の変更', edit_event_path(@event.id), class: 'btn btn-outline-dark' %>
          <%= link_to '予定の削除', event_path(@event.id), method: :delete, class: 'btn btn-outline-dark event-show--delete_btn' %>
        <% end %>
      </div>
    </div>
  </div>
  <!--MapとImage関連-->
  <div class="col-lg-5">
    <div class="event-show--map_content">
      <h4>Map</h4>
      <div class="event-show--map_box">
        <% if @event.user == current_user %>
          <input id="address" type="textbox" value="">
          <input type="button" value="検索" name="検索" onclick="codeAddress()">
        <% end %>
        <div class="event-show--map" id="map"></div>  <!--map本体-->
        <% if @event.user == current_user %>
          <%= form_with(model:[@event, @map], html:{class: "event-show--map_form"},local: true) do |f| %>
            <input type="hidden" name="map[address]" id="hidden_address">
            <%= f.label :name, "ピンの登録" %>
            <%= f.text_field :name %>
            <%= f.submit "保存" %>
          <% end %>
        <% end %>
      </div>

      <div class="event-show--map_index">
        <h5 class="event-show--pin_title">登録したピン：</h5>
        <% if @maps.present? %>
          <% @maps.each do |map| %>
            <div class="event-show--pin_name">
              <i class="fas fa-map-marker-alt"></i>
              <%= map.name %>
              <%= link_to "", event_map_path(map), method: :delete, class: "btn-danger fa-xs fas fa-backspace event-show--pin_delete" %>
            </div>
          <% end %>
        <% else %>
          ピンが登録されていません
        <% end %>
      </div>
    </div>

    <div class="event-show--image_content">
      <h4 class="event-show--image_title">登録画像</h4>
      <div>
        <% if @event.images.present? %>
          <% @event.images.each do |image| %>
            <div class="event-show--image_box">
              <%= attachment_image_tag image, :image, :fill, 160, 160, size:'160x160' %>
              <%= link_to "", event_image_path(image), method: :delete, class: "btn-danger fas fa-backspace event-show--image_delete" %>
            </div>
          <% end %>
        <% else %>
          画像はありません。
        <% end %>
      </div>

      <div class="event-show--image_form">
        <% if @event.user == current_user %>
          <%= form_with(model: @event, local: true) do |f| %>
            <%= f.attachment_field :images_images, multiple: true, placeholder: "追加画像", class: "" %>
            <%= f.submit "画像を登録", class: "event-show--image_form_btn" %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</main>

<!--以下googleMap情報-->
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>

<script>
  let map
  let geocoder
  let marker

  function initMap() {
    geocoder = new google.maps.Geocoder()
    mapInstance = new google.maps.Map(document.getElementById('map'), {
      center: {
        <% if @maps.present? %>
          lat: <%= @map_pin.latitude %>,
          lng: <%= @map_pin.longitude %>
        <% else %>
          lat: 35.681,
          lng: 139.767
        <% end %>
      },
      zoom: 13
    });

    // 保存された地図情報からピンをさす
    <% @maps.each do |map| %>
    pos = new google.maps.LatLng(
    <%= map.latitude %>,
    <%= map.longitude %>
    );
    default_marker = new google.maps.Marker({
    map: mapInstance,
    position: pos,
    icon: {
    url: ' https://maps.google.com/mapfiles/ms/icons/green-dot.png',
    scaledSize: new google.maps.Size(40, 40)
    }
    });
    <% end %>
  }

  function codeAddress() {
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if (status == 'OK') {
        mapInstance.setCenter(results[0].geometry.location);
        if(marker != null){
        marker.setMap(null);
        }
        marker = null;
        marker = new google.maps.Marker({
          map: mapInstance,
          position: results[0].geometry.location
        });

        let title = document.getElementById('map_name');
        title.setAttribute("value", inputAddress);

        let hidden_address = document.getElementById('hidden_address');
        hidden_address.setAttribute("value", inputAddress);
      } else {
        alert('有効な文字を入力してください。');
      }
    });
  }
</script>