<h2 class="text-center user-login--title">ログインフォーム</h2>

<%= form_with model: @user, url: user_session_path, local: true do |f| %>
<div class="d-flex justify-content-center">
  <div class="user-login--form">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th><%= f.label :"eメールアドレス" %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください", :size => "60*30" %></td>
        </tr>
        <tr>
          <th><%= f.label :パスワード %></th>
          <td><%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワードを入力してください", :size => "60*30" %></td>
        </tr>
        <tr>
          <th>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          </th>
          <td><%= f.submit "ログイン", :class=>"user-login--form--btn" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>

<div>
  <p class="user-login--forget_text text-center">
    ・パスワードをお忘れの方は
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "こちら", new_password_path(resource_name) %>
    <% end %>
    から確認をお願いいたします。
  </p>
</div>

